
header{
   background-color: rgb(247, 251, 255);
}
.logo-fast{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.nav-degin{
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.baby-2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 20px; */
}
.baby-2 li{
    list-style: none;
    padding: 20px;
}
li a{
    text-decoration: none;
    font-size: 1.4rem;
}
/*sheard color*/
.holod-1{
    color: #FEA301;
    /* font-size: 4.5rem; */
}
.holod{
    color : #FEA301;
    font-size: 1.5rem;
}
.nav{
    color: #01ACFD;
    font-size: 1.5rem;
}

.nav-1{
    color: #01ACFD;
    /* font-size: 4.5rem; */
}
.nav-blue{
    color: #05D4DF;
    font-size: 1.5rem;
}
.view-btn{
   text-align: center;
   padding: 24px; 
}
.btn-view{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000000;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
}
.addmition{
    color: #5D58EF;
}
.btn-primary{
    background-color: #FEA301;
    padding: 12px 50px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
}
.btn-secendary{
    background-color: rgb(0, 0, 0);
    padding: 12px 50px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;

}
.btn-secend{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 24px;
}
.dark-3{
    color: #000000;
    max-width: 420px;
}
.dark-1{
    color: rgb(136, 132, 132);
}
.font-size{
    font-size: 4.5rem;
}
.dark-2{
    font-size: 2.5rem;
}
/*sheard color*/
.header-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
   max-width: 1340px;
   margin: 0 auto;
}
.content{
    max-width: 700px;
    font-size: 2rem;
    /* margin:  0 auto; */
}
.description-1{
   /* border: 1px solid red; */
  font-size: 1.2rem;
  margin-top: 20px;
}
/*main*/
main{
    background-image: url(img/bg.png);
}
.card-contrent{
    text-align: center;
   padding-top: 60px;
}
.card-title{
    display: flex;
    align-items: center;
   justify-content: center;
}
.card-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1300px;
}
.card-1, .card-2, .card-3{
    /* max-width: 300px; */
    text-align: center;
    font-size: 20px;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 5px -5px 5px 10px rgb(224, 221, 221);
}
.card-1{
    padding: 20px;
    /* width: 100vw;
    height: 55vh; */
    background-image:  linear-gradient( rgb(118, 118, 255) , white 98%);
}
.Standard{
    padding: 10px;
}
.card-2{
    padding: 16px;
    /* width: 100vw; */
    /* height: 55vh; */
    background-image:  linear-gradient(rgb(255, 239, 217), white);
}
.card-3{
    padding: 20px;
    /* width: 100vw;
    height: 55vh; */
    background-image:  linear-gradient(rgb(250, 178, 240), white);
}
.section-button{
    text-align: center;
    padding-top: 40px;
}
.btn-three{
    background-color: gold;
    padding: 20px 20px;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    border: none;
}
/*section four*/
.section-four{
    background-image: url(img/bg.png);
   background-image: linear-gradient(white, rgb(250, 212, 218));
}
.font-size{
   
   /* padding-top: -20px; */
}
.four-title{
   display: flex;
   justify-content: center;
   align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  
}
.our-stories{
    text-align: center;
    padding-top: 20px;
}
.four-heading{
  
    /* width: 40%; */
   /* display: grid;
   grid-template-columns: repeat(1, 1fr); */
}
.four-heading img{
    /* width: 100%; */
    
}
.section-four img{
    width: 100%;
    border-radius: 20px;
}
.four-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* border: 1px solid orange; */
    /* max-width: 600px; */
}
.about{
    font-size: 30px;
}
.div-one{
    /* background-color: white; */
   border-radius: 10px;
  margin-left: 50px;
  margin-top: -20px;

}

.btn-div-one{
    background-color: rgb(29, 189, 69);
    padding: 9px 25px;
    border-radius: 20px;
    color: rgb(54, 52, 52);
    font-weight: bold;
    border: none;
   
 /* position: absolute; */

}
.btn-div-two{
    background-color: rgb(55, 225, 255);
    padding: 9px 25px;
    border-radius: 20px;
    color: rgb(54, 52, 52);
    font-weight: bold;
    border: none;
    
}
.btn-div-three{
    background-color: rgb(250, 74, 212);
    padding: 9px 25px;
    border-radius: 20px;
    color: rgb(54, 52, 52);
    font-weight: bold;
    border: none;
    
}
.btn-div-four{
    background-color: rgb(255, 177, 10);
    padding: 9px 25px;
    border-radius: 20px;
    color: rgb(54, 52, 52);
    font-weight: bold;
    border: none;
   
}
.four-heading{
     /* max-width: 850px; */
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 20px;
    height: 700px;

}
.box-1{
    margin-left: 50px;
    margin-top: -30px;
    /* padding-left: 50px;
    max-width: 520px;
    padding: 10px; */

}
.btn-primary:hover{
    background-color: blue;
    padding: 12px 60px;
    transition: all ease-in-out 0.4s;
}
.story-one{

    background-color: rgb(37, 255, 121);
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    border-radius: 30px;
    border: none;
   padding: 14px 40px;
  
   /* position: absolute; */
}
.btn-one{
margin-left: 10px;
    /* position: relative; */
}
.four-type{
    background-color: white;
    width: 100%;
    height: 340px;
    border-radius: 20px;
}
#icon-hr{
    display: none;
}

footer{
    background-color: #72d2ff ;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}
.footer-title{
    max-width: 340px;
}
.kids-title{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    font-size: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}
.icon{
  display: none;
  /* color: #05D4DF; */
}
.footer-header, .div-last{
  
    color: white;
   
}
.img-fast img{
    width: 100%;

}
.four-none{
    display: none;
}
.nav-footer{
    align-items: center;
    margin-left: -40px;
    line-height: 35px;
} 
li a{
    color: white;
    
}
 li{
list-style: none;
gap: 50px;
}
.div-tag{
    display: none;
}

@media screen and (max-width: 576px) {
   .card-main, .footer-container{
    flex-direction: column;
  }

  .header-title{
    flex-direction: column-reverse;
    text-align: center;

  }
  .four-none{
    display: block;
  }
 .div-tag{
    display: block;
 }
  .img-fast img{
max-width: 220px;
margin: 0 auto;
  }
    .baby-1, .baby-2, .btn-primary{
        display: none;
    }
    .four-main{
        /* display: grid; */
     grid-template-columns: repeat(2, 1fr);
     gap: 12px;
     

    }
    .div-one{
     margin-left: 12px;
    }
    .four-type{
       width: 100%;
       height: 250px; 
    }
     .nav-degin{
     /* display: flex;
     justify-content: space-between; 
      max-width: 350px;
      margin: 0 auto;   */
  
    }
    .our-stories{
        font-size: 2rem;
    }
    .section-one{
        max-width: 576px;
        margin:  0 auto;
       
    }
   
  .content{
    font-size: 1rem;
   max-width: 300px;
    margin: 0 auto;
  }
  .four-heading{
    display: none;
  }
.box-1{
    max-width: 350px;
    margin-left: -1px;
}
#icon-hr{
 display: block; 
   
}
#hr-div{
    font-size: 3rem;
    color: #FEA301;
   
}
#hr-icon{
    font-size: 3rem;
    color: #FEA301;
}
  .description-1{
    margin-top: 40px;
  }
    .icon{
        font-size: 2rem;
        color: black;
        display: block;
    }
   
}
@media screen  and (min-width: 576px) and (max-width: 990px) {
    .nav-degin{
        max-width: 920px;
        margin: 0 auto;
    }
    .card-main{
       grid-template-columns: repeat(2, 1fr);
    }
    .header-title{
     flex-direction: column-reverse;
    }
}
@media screen and (max-width: 768px) {
  
 
    .header-title {
       flex-direction: column-reverse;
       text-align: center;
    }
 
    .content {
       max-width: 90%;
       margin: 0 auto;
    }
 
    .img-fast img {
       max-width: 250px;
       margin: 0 auto;
    }
 
    .card-main {
       flex-direction: column;
       gap: 20px;
    }
 
    .footer-container {
       flex-direction: column;
       text-align: center;
    }
 
    .four-main {
        grid-template-columns: repeat(2, 1fr); /* 3 columns */
        
    }

    .icon {
       display: block;
       cursor: pointer;
       font-size: 1.5rem;
    }
 
    .baby-2 {
       display: none;
       flex-direction: column;
       position: absolute;
       background: white;
       width: 100%;
       top: 60px;
       left: 0;
       text-align: center;
    }
 
    .baby-2.show {
       display: flex;
    }
 }
 